# A die is rolled twice

# Let $X$ denote the sum of the two numbers that turn up

# Let $Y$ be the difference between the two numbers

## i) Show that $E(XY) = E(X)E(Y)$

## ii) Are $X$ and $Y$ independent?

____

# i)

## First, we summarize the probabilities for $X$ and $Y$

In [1]:
import numpy as np
import pandas as pd

In [25]:
df_results = pd.DataFrame(columns = ['r1','r2','X','Y'])

i = 0
for r1 in range(1, 7):
    for r2 in range(1, 7):
        X = r1 + r2
        Y = np.abs(r1 - r2)
        df_results.loc[i] = [r1, r2, X, Y]
        i+=1

In [27]:
df_results['XY'] = df_results['X']*df_results['Y']

In [44]:
df_results

    r1  r2   X  Y  XY
0    1   1   2  0   0
1    1   2   3  1   3
2    1   3   4  2   8
3    1   4   5  3  15
4    1   5   6  4  24
5    1   6   7  5  35
6    2   1   3  1   3
7    2   2   4  0   0
8    2   3   5  1   5
9    2   4   6  2  12
10   2   5   7  3  21
11   2   6   8  4  32
12   3   1   4  2   8
13   3   2   5  1   5
14   3   3   6  0   0
15   3   4   7  1   7
16   3   5   8  2  16
17   3   6   9  3  27
18   4   1   5  3  15
19   4   2   6  2  12
20   4   3   7  1   7
21   4   4   8  0   0
22   4   5   9  1   9
23   4   6  10  2  20
24   5   1   6  4  24
25   5   2   7  3  21
26   5   3   8  2  16
27   5   4   9  1   9
28   5   5  10  0   0
29   5   6  11  1  11
30   6   1   7  5  35
31   6   2   8  4  32
32   6   3   9  3  27
33   6   4  10  2  20
34   6   5  11  1  11
35   6   6  12  0   0

- Since our dataframe has 36 rows (one for each **equally likely** roll), we can easily show that $E(XY) = E(X)E(Y)$ by taking the mean of the 'XY' column and comparing it to the mean of column 'X' times the mean of column 'Y'

In [45]:
df_results['XY'].mean()

13.61111111111111

In [46]:
df_results['X'].mean()*df_results['Y'].mean()

13.61111111111111

# They're the same $\implies E(XY) = E(X)E(Y)$

_____

# ii)

# If $X$ and $Y$ are independent, then $P(X=x|Y=x) = P(X=x)$

## Let's let $Y = 2$ and look at the possible values of $X$

In [47]:
df_results[df_results['Y']==2]

    r1  r2   X  Y  XY
2    1   3   4  2   8
9    2   4   6  2  12
12   3   1   4  2   8
16   3   5   8  2  16
19   4   2   6  2  12
23   4   6  10  2  20
26   5   3   8  2  16
33   6   4  10  2  20

# We can see from the table above that when $Y=2$, then $X$ cannot be equal to 2 therefore $P(X=2|Y=2) = 0$, but $P(X=2) = \frac{1}{36} \implies$ not independent